<table class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color:gold; font-weight:bold; font-weight:bold; vertical-align:middle">
	<tbody>
		<tr>
			<td align="center" class="row col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<span style="display:block; width:2.3vw; height:2.3vw; background-size:70% 60%; background-image:url('../Images/Thumb_1_full.png'); background-repeat:no-repeat; background-position:center">
					<span style="margin-left:1vw; font-size:1.2vw">
						{{marks.one.count}}
					</span>
				</span>
			</td>
			<td align="center" class="row col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<span style="display:block; width:2.3vw; height:2.3vw; background-size:85% 75%; background-image:url('../Images/Thumb_2_full.png'); background-repeat:no-repeat; background-position:center">
					<span style="margin-left:1vw; font-size:1.2vw">
						{{marks.two.count}}
					</span>
				</span>
			</td>
			<td align="center" class="row col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<span style="display:block; width:2.3vw; height:2.3vw; background-size:100% 90%; background-image:url('../Images/Thumb_3_full.png'); background-repeat:no-repeat; background-position:center">
					<span style="margin-left:1vw; font-size:1.2vw">
						{{marks.three.count}}
					</span>
				</span>
			</td>
		</tr>
	</tbody>
</table>