<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 popup">
	
	<div class="popup_header">
		<div class="popup_title" ng-if="(context=='Membership')||(context=='Captaincy')">EQUIPE</div>
		<div class="popup_title" ng-if="context=='Network'">RESEAU</div>
		<div class="popup_close">X</div>
	</div>	

	<div class="container popup_content" ng-controller="setupRelashionship">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{datas[index].text}}
		</div>

		<div class="row" style="text-align:center;">
			<button class="btn action" type="button" ng-click="updateRelashionship(ref, other, datas, index, context)">
				OK
			</button>
		</div>

	</div>

</div>
