<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 popup">

	<div class="popup_header">
		<div class="popup_title">AUTHENTIFICATION</div>
		<div class="popup_close">X</div>
	</div>
			
		
	<div class="container popup_content" ng-controller="ctrlAuthentification">
		
		<div style="text-align:center" ng-if="selection_auth.name!='Connexion' && selection_auth.name!='Inscription'">
			<button class="btn" ng-click="selection_auth.name='Connexion'">DEJA MEMBRE</button>
			<button class="btn" ng-click="selection_auth.name='Inscription'">JE M'INSCRIS</button>
		</div>
		
		<form class="row form-horizontal" name="authentificationForm" ng-if="selection_auth.name=='Connexion'" ng-submit="doAuthMethod()">
			
			<div class="form-group">
				<label class="col-xs-4 col-sm-5 col-md-5 col-lg-5 control-label">
					Username (*):
				</label>
				<div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.username" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 col-md-5 col-lg-5 control-label">
					Password (*):
				</label>
				<div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="password" ng-model="user_coming.password" required></input>
				</div>
			</div>
	
			<div class="row" style="text-align:center;">
				<button class="btn action" type="submit">
					SE LOGGER
				</button>
				<span class="error_form">{{log_error}}</span>
			</div>
			
		</form>

		<form class="row form-horizontal" name="authentificationForm" ng-if="selection_auth.name=='Inscription'" ng-submit="doAuthMethod()">
			
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Username (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.username" check-username required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Password (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="password" ng-model="user_coming.password" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Nom (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.name" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Prénom (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.first_name" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Date de naissance (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="date" ng-model="user_coming.birthdate" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Adresse (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input google-place class="form-control" ng-model="user_coming.address" name="address" check-address required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Adresse e-mail (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="email" ng-model="user_coming.email" name="email" required></input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Numéro de téléphone (*):
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.phone_number" required></input>
				</div>
			</div>		
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Activité dans la vie:
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.activity"></input>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">
					Lieu de pratique de l'activité:
				</label>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
					<input class="form-control" type="text" ng-model="user_coming.activity_place"></input>
				</div>
			</div>


			<div class="row" style="text-align:center;">
				<button class="btn action" type="submit" ng-disabled="authentificationForm.username.$error.checkUsername || authentificationForm.address.$error.checkAddress">
					S'INSCRIRE
				</button>
			</div>
		</form>

	</div>
	
</div>