<div ng-if="ready" ng-controller="ctrlRealTime" ng-init="setRealTimeParamAndInitApp('Notification')">
	
	<div ng-controller="ctrlOffers" ng-init="setOffers()">

		<div class="container" ng-if="offers_OK"> 

			<div class="row" style="margin:2% 2% 3% 2%">
				<request-i request="request" profile="ME" kind="kind"></request-i>
			</div>

			
			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:radial-gradient(#c2c2c2, #F2F4F5);" ng-if="my_offer_OK">

					<h2>Mon offre de réponse</h2>
				
					<form style="relative" name="creationOffer" ng-submit="updateOffer('Update', 'RDV')" ng-controller="setupOffer">
				
						<div class="row" style="padding:2%;">
							<input type="checkbox" ng-model="offer.RDV_datas.open" ng-disabled="offer.RDV_datas.open && !new_offer">
								Je propose une séance !
							</input>
							<details style="border-top:1px solid" ng-click="RDVchange()" ng-open="offer.RDV_datas.open">
								<summary style="font-style:2.3vw; background:linear-gradient(#FB7E11, #F2C9A6);">
									<div class="img" style="width:1.5em; height:1.5em; background-image:url({{offer.RDV_datas.src_img}}); background-position: 0% 0%;"></div>
									ORGANISER DES SEANCES A DOMICILE
								</summary>
								<div ng-show="{{request.nb_participants}}>1">	
									<p style="font-size:1.2vw">
										La séance qui souhaite être organisée par {{request.student.username}} est ouverte à <strong>{{request.nb_participants - 1}} autres élèves</strong>.
										En choisissant de faire cette offre de réponse, vous pouvez donc être amené à faire cours à <strong>{{request.nb_participants}} élèves</strong>.
									</p>
								</div>
								<div class="form-group" style="border:1px solid">
									Description de la séance:
									<textarea class="form-control" ng-model="offer.RDV_datas.description"></textarea>
								</div>	
								<div class="form-group">
									Prix pour 1 élève et par heure de cours (en €):
									<input class="form-control" style="width:12vw" type="number" min="0" step="0.10" ng-model="offer.RDV_datas.price" ng-required='offer.RDV_datas.open'></input>		
								</div>
								<div class="form-group" ng-if="request.linked_teams.length>0">
									Nombre souhaité d'élèves:
									<input class="form-control" style="width:12vw" type="number" min="0" step="1" ng-model="offer.RDV_datas.nb_participants" ng-required='offer.RDV_datas.open'></input>		
								</div>
								<div ng-controller="ctrlAddAndRemoveFields" ng-init="initNbFields(offer.RDV_datas.time_slots.length)">
									<div class="btn-group">
										<p>
											Créneaux: 
											<button type="button" ng-click="addField()">+</button>
											<button type="button" ng-click="removeField(); offer.RDV_datas.time_slots.splice(offer.RDV_datas.time_slots.length-1,1)">-</button>
										</p>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row" style="display:block;">
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
												<div style="position:relative; display:inline-block; width:100%;">
													<div class="img" style="position:absolute; top:50%; transform:translateY(-50%); width:2vw; height:2vw; background-image:url('Images/Calendrier.png'); background-position: 0% 0%;"></div>
													<p style="display:inline-block; position:absolute; top:50%; transform:translateY(-50%); margin-left:2.5vw">Date / Heure:</p>
												</div>	
											</div>
											<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
												<div style="position:relative; display:inline-block; width:100%;">
													<div class="img" style="position:absolute; top:50%; transform:translateY(-50%); width:2vw; height:2vw; background-image:url('Images/Horloge.png'); background-position: 0% 0%;"></div>
													<p style="display:inline-block; position:absolute; top:50%; transform:translateY(-50%); margin-left:2.5vw">Durée (en H):</p>
												</div>	
											</div>
										</div>
										<div ng-repeat="time_slot_form in fields" style="display:block; margin-top:8px;">
											<div class="row row-eq-height">
												<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
													<input class="form-control" style="width:100%" type="datetime-local" ng-model="offer.RDV_datas.time_slots[$index].date_slot" ng-required='offer.RDV_datas.open'></input>
												</div>
											
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<input class="form-control" style="width:100%" type="number" min="0" step="0.25" ng-model="offer.RDV_datas.time_slots[$index].duration" ng-required='offer.RDV_datas.open'></input>
												</div>
											</div>
										</div>
										<p></p>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										Lieu de la séance:
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:center">
										<input type="radio" style="vertical-align:middle; margin:0;" name="lieu" ng-model="offer.RDV_datas.selected_address" ng-value="1" ng-required='offer.RDV_datas.open'>Chez l'élève</input>							
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align:center">
										<input type="radio" style="vertical-align:middle; margin:0;" name="lieu" ng-model="offer.RDV_datas.selected_address" ng-value="0" ng-required='offer.RDV_datas.open'>Chez moi</input>
									</div>
								</div>

							</details>
						</div>
						
						<div class="row" style="padding:2%;">
							<details style="border-bottom:1px solid" open>
								<summary style="font-style:2.3vw; background:linear-gradient(#0099FE, #6DBEF3);">
									<div class="img" style="width:3vw; height:2vw; background-image:url('Images/Chat.png'); background-position: 0% 0%;"></div>
									OUVRIR UN CHAT !
								</summary>
								<input type="checkbox" ng-model="offer.Chat_datas.open" ng-disabled="offer.Chat_datas.open && !new_offer">J'ouvre un Chat !</input>
							</details>
						</div>

						<div class="row" style="text-align:center;">
							<button class="btn" style="background-color:#EDA6B2" type="submit" ng-disabled="offer.RDV_datas.time_slots.length==0">
								SOUMETTRE
							</button>
						</div>
						
					</form>

				</div>

			</div>

			<div class="row" style="margin-top:50px">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-height:700px; overflow:auto; border-radius:15px; border:1px solid #FCE683; background-color:#FAF6DE">
					<div style="margin:1%" ng-repeat="offer in offers_to_display | orderBy:'-emission_date'">
						<offer-i offer="offer" profile="ME"></offer-i>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top:50px">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 map">
					<div map style="width:100%; height:300px;" ng-if="map_OK" origin="ME" ng-model="offers_to_display"></div>
				</div>

			</div>

			


			
		</div>

	</div>

</div>
