<div class="container">

	<div class="video-wrapper">
		<iframe src="https://www.youtube.com/embed/KKZVXP73lkI?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<div>
		<div class="row" style="margin-top:3vw">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="font-size:1.7vw; font-style:italic">
					<h4>A tous les élèves :</h4>
					<p align="justify">
						&laquo;
						Vous révisez une leçon, vous essayez de faire un devoir maison, ou vous vous préparez pour une épreuve majeure, telle que le Brevet ou le Bac... Et vous avez besoin d'un coup de pouce ?
						<br>
						N'hésitez plus une seconde !!
						Help-Teacher a été conçu pour vous !
						<br>
						<strong>&rarr; Exprimez en quelques clics votre besoin </strong> du moment, et grâce à la communauté dynamique, un de nos professeurs sera rapidement en mesure de vous aider, soit par conversation écrite sur le site, soit même en venant vous voir ! 
						<br> 
						Et ne soyez plus seuls !
						Vous avez un copain ou une copine dans le même besoin que vous ?
						<br>
						<strong>&rarr; Invitez-le (la) </strong> aussi à vous joindre pour qu'il (ou qu'elle) puisse également profiter de l'explication !
						&raquo;
						<br>
						<p align="justify" style="font-size:1.9vw; font-weight:bold">
							Help-Teacher, pour de l'accompagnement scolaire à toute heure !
						</p>
					</p>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img class="img-responsive" ng-src="Images/Trailer_Student.png"></img>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:3vw">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img class="img-responsive" ng-src="Images/Trailer_Teacher.png"></img>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="font-size:1.7vw; font-style:italic">
					<h4>A tous les professeurs :</h4>
					<p align="justify">
						&laquo;
						Saviez-vous que, en 2012, d'après un article du journal "Les Echos", 1 élève sur 5 avait besoin d'un accompagnement scolaire au Collège, et 1 élève sur 3 avait besoin d'un accompagnement scolaire au Lycée ?
						<br>
						Et à écouter le dernier raport de l'OCDE, ce n'est rien vous apprendre que vous dire que ce chiffre s'est encore accru ces derniers temps !
						<br>
						Il est donc temps d'accompagner sérieusement, et sur la durée, tous ces élèves !
						<br>Que vous soyez étudiants, que vous soyez jeunes professionnels, si vous avez un peu de temps à consacrer à la jeunesse, ce site a été conçu pour vous.
						<br>
						<strong>Avec Help-Teacher, l'idée est que chacun d'entre vous aille accompagner un à un ces élèves, qui ont besoin, et qui ont droit à du support pédagogique de proximité.</strong>
						<br>
						La plateforme Help-Teacher a été conçue pour répondre à un objectif: permettre à chacun d'entre vous de vous mettre dans la peau d'un véritable "Coach", d'un ou de plusieurs élèves.
						<br>
						Plusieurs travaux sont à l'étude pour que chaque Coach ait la motivation pour se donner à fond dans la progression de ses élèves, à la fois sur le plan pédagogique, que sur le plan de l'orientation professionnelle !
						<br>
						Alors n'attendez plus ! 
						<br>
						<strong>&rarr; Inscrivez-vous</strong> et allez <strong>aider</strong> un maximum d'élèves ! 
						<br>
						&rarr; Proposez en quelques clics des <strong>offres de réponse</strong> à des annonces d'élèves </strong>
						<br>
						<strong>&rarr; Constituez de véritables équipes de travail</strong>, pour des séances chaque fois plus passionantes et pour plus de complicité avec les élèves ! 
						&raquo;
						<br>
						<p align="justify" style="font-size:1.9vw; font-weight:bold">
							Help-Teacher, pour faire progresser chaque élève dans la bonne humeur !
						</p>
					</p>
				</div>
				
			</div>
		</div>

</div>