<div ng-if="ready">

	<div ng-controller="ctrlDialoguesOffer" ng-init="setDialoguesOffer('RDV')">
		
		<div class="container" ng-if="offer_OK">	

			<div class="row" style="margin:2% 2% 3% 2%">
				<request-i request="request" profile="ME" kind="kind"></request-i>
			</div>
			

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">

					<div ng-controller="setupOffer">

						<fieldset> 
							<legend style="background:linear-gradient(to right, #F5ECC9, #F2C9A6); font-size:2vw">
								<div style="display:inline-block; vertical-align:middle;">
									<input style="margin:0; vertical-align:middle;" type="radio" name="lieu" ng-disabled="!teaching" ng-model="offer.RDV_datas.selected_address" ng-value="0" ng-click="updateOffer('Update', 'RDV')">	
									</input>
									<span style="vertical-align:middle;" ng-click="address_displayed=true"> 
										<span class="glyphicon glyphicon-home" ng-if="((participating || teaching) && !address_displayed)"></span>
										<span ng-if="address_displayed"> - {{offer.RDV_datas.address.route}} {{offer.RDV_datas.address.city}}</span>
									</span>
								</div>
								<div style="display:inline-block; vertical-align:middle; margin-left:2vw">
									RENDEZ-VOUS avec {{offer.teacher.username}}
								</div>
								<div style="display:inline-block; vertical-align:middle; margin-left:15vw" ng-if="!teaching">
									<button style="background:#97F7BC" type="submit" ng-if="!participating" ng-click="offer.RDV_datas.participants.push({user:ME}); updateOffer('Participation', 'RDV')">
										PARTICIPER
									</button>
									<button style="background:#FA507A" type="submit" ng-if="participating" ng-click="offer.RDV_datas.participants.splice(offer.RDV_datas.participants.indexOf({user:ME}), 1); updateOffer('Participation', 'RDV')">
										PARTIR
									</button>	
								</div>
								<span style="display:inline-block; vertical-align:middle" ng-if="(teaching||(report.status=='Diffused'))" ng-controller="ctrlReport" ng-init="setReport(report)" >
									<span class="glyphicon glyphicon-list-alt" style="cursor:pointer" ng-controller="ctrlReportPopup" ng-click="openReportPopup()">
										<report-i ng-if="report_OK && show_report" me="ME" report="report" offer="offer" request="request"></report-i>
									</span>
								</span>	
							</legend>
						</fieldset> 

						<div class="row row-eq-height" style="font-size:1.5vw">
							<div class="col-xs-10 col-sm-9 col-md-9 col-lg-9 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0" style="background:linear-gradient(#FB7E11, #F2C9A6); border:1px solid">
								<div class="row row-eq-height">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="position:relative; border-style:dashed; border-width:0 1px 1px 0;">
										<div class="img" style="right:0.3vw; width:6vw; height:4vw; background-image:url('Images/{{offer.RDV_datas.nb_participants}}.png'); background-position: 0% 0%;"></div>
										<div style="display:inline-block; position:absolute; top:50%; left:60%; transform:translateY(-50%) translateX(-50%); width:65%; text-align:center; line-height:1.5vw">
											<div style="margin:0; font-size:2.2vw; font-weight:bold">
												{{offer.RDV_datas.price}}€
											</div>
											<i style="margin:0; font-size:1.6vw;" ng-if="offer.RDV_datas.nb_participants>1">
												(<u>{{offer.RDV_datas.price_net_theo}}€</u> par personne)
											</i>							
										</div>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="position:relative; border-bottom:1px dashed;">
										<u>Description:</u>
										<p>
											{{offer.RDV_datas.description}}
										</p>
									</div>
								</div>
								<div class="row row-eq-height">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="border-right:1px dashed;">
										<u>Participants:</u>
										<div ng-repeat="participant in offer.RDV_datas.participants">
											<input style="vertical-align:middle; margin:0;" ng-disabled="!teaching" type="radio" name="lieu" ng-model="offer.RDV_datas.selected_address" ng-value="$index + 1" ng-click="updateOffer('Update', 'RDV')">
												{{participant.user.username}}
											</input>					
										</div>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<div ng-repeat="time_slot in offer.RDV_datas.time_slots">
											<div class="row row-eq-height" style="position:relative;">
												<div style="display:inline-block; width:10%; text-align:center;">
													<input ng-disabled="!teaching" type="radio" name="date" ng-model="offer.RDV_datas.selected_time_slot" ng-value="$index" ng-click="updateOffer('Update', 'RDV')"></input>
												</div>
												<div style="position:relative; display:inline-block; width:78%;">
													<div class="img" style="position:absolute; top:50%; transform:translateY(-50%); width:1em; height:1em; background-image:url('Images/Calendrier.png'); background-position: 0% 0%;"></div>
													<p style="display:inline-block; position:absolute; top:50%; transform:translateY(-50%); margin-left:2.5vw">: le  {{time_slot.date_slot | date:'dd/MM/yyyy'}}  à  {{time_slot.date_slot | date:'h:mma'}}</p>
												</div>						
												<div style="position:relative; display:inline-block; width:20%;">
													<div class="img" style="position:absolute; top:50%; transform:translateY(-50%); width:1em; height:1em; background-image:url('Images/Horloge.png'); background-position: 0% 0%;"></div>
													<p style="display:inline-block; position:absolute; top:50%; transform:translateY(-50%); margin-left:2.5vw">: {{time_slot.duration}}h</p>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="hidden-xs col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="background-color:#F5ECC9; border:1px solid">
								<u>Connectés:</u>
								<p style="margin:0" ng-repeat="participant in participants">
									{{participant.username}}
								</p>
							</div>
						</div>

						<div class="row" style="margin-top:10px" ng-controller="ctrlDialogues" ng-init="setDialogue(offer)">
							<div ng-if="dialogue_OK" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:5px; background:linear-gradient(#FAD3B1, #F0E7DF); border:1px solid">
								<form name="messageForm" ng-if="participating || teaching" ng-submit="sendMessage(message)">
									<u>Parler:</u>
									<div>
										<textarea style="display:inline-block; vertical-align:middle; width:85%" ng-model="message" required></textarea>	
										<button style="display:inline-block; vertical-align:middle; width:12%; text-align:center" type="submit">PARLER</button>	
									</div>
								</form>
								<div style="margin:5px; min-height:100px; max-height:700px; overflow:auto; border-top:1px solid">
									<div ng-repeat="message_dialogue in dialogue.messages | orderBy:'-emission_date'">
										<div ng-if="message_dialogue.message.user._id==ME._id" class="bubble_mine_container">
											<i class="bubble_mine_date">Message envoyé par {{message_dialogue.message.user.username}} le {{message_dialogue.message.emission_date | date:'dd/MM/yyyy'}} à {{message_dialogue.message.emission_date | date:'h:mma'}}</i>
											<div class="bubble_shape mine" style="background-color:#F58B45;">{{message_dialogue.message.message}}</div>
										</div>
										<div ng-if="message_dialogue.message.user._id!=ME._id" class="bubble_their_container">
											<i class="bubble_their_date">Message envoyé par {{message_dialogue.message.user.username}} le {{message_dialogue.message.emission_date | date:'dd/MM/yyyy'}} à {{message_dialogue.message.emission_date | date:'h:mma'}}</i>
											<div class="bubble_shape their" style="background-color:#F58B45;">{{message_dialogue.message.message}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div ng-controller="ctrlInvitations" ng-init="setPotentialGuests('RDV')">
							<div class="row" style="margin-top:10px" ng-repeat="guests in potential_guests">
								Personnes à inviter <span ng-if="guests.group.name">(Equipe <a  href="/Team/{{guests.group._id}}">{{guests.group.name}}</a>)</span>
								<select class="form-control" style="max-height:15vw" multiple ng-options="user.username for user in guests.users" ng-model="users_to_invite[$index]">
								</select>
								<button class="btn btn-default" ng-click="sendInvitations()">
									<span class="glyphicon glyphicon-bullhorn"></span>
									Inviter
								</button>
							</div>
						</div>
				
					</div>

				</div>


			</div>

		</div>

	</div>

</div>

